
{% extends 'base-logged.html' %}
{% block title %}
	Busine.me | Perfil
{% endblock %}

 {% block content %}
 <div class="small-10 medium-4 large-4 small-centered columns">
     <form action="/alterar_dados/" method="POST">{% csrf_token %}  <!--instead of #, include the url to the method for change the user data -->
     	<span class="label big">Nome</span>
     	<input type="text" name="name" value="{{user.first_name}}"> 

    	<span class="label big">Username</span>
    	<input type="text" name="username" value="{{user.username}}">

    	<span class="label big">Email</span>
    	<input type="text" name="email" value="{{user.email}}">
       <!--  <div class="row"> -->
       <button class="postfix">Salvar Alterações</button>
        <!-- </div> -->
    </form> 
         <div class="row">
            <a href="/alterarcao_senha/">Alterar senha</a>
        </div>
        <div class="row">
            <a href="/exclusao_perfil/">Excluir Conta</a>
        </div>
</div>


 {% endblock %}