{% extends 'base.html' %}
{% block title %}
    Busine.me | Busca Avançada
{% endblock %}
{% block content %}


 <div class="row"> 
    <div class="small-10 medium-4 large-4 small-centered columns">
        <form action="/busca_avancada/" method='GET'>
            <input type = "text" name="busline" placeholder="Numero da Linha">
            <input type = "text" name="description" placeholder="Via por onde passa">
            <input type = "text" name="terminals" placeholder="Terminal">

            <button class="postfix"> Procurar </button>
        </form>
    </div>
 </div>
{% endblock %}