<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Busine.me{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stylesheets/foundation.css' %}" />
    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include 'topbar.html' %}
    {% block content %}
    {% endblock %}

    <div id="modal_error" class="small reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>Erro! :(</h2>
      <p class="lead">{% block "modal_error_lead" %}{% endblock %}</p>
      <p>{% block "modal_error_message" %}{% endblock %}</p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <script src="{% static 'vendor/foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'vendor/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    {% block "scripts" %}{% endblock %}
  </body>
</html>