{% extends 'base.html' %}
{% block title %}
    Busine.me | Informações
{% endblock %}
{% block content %}
    <div class="row">
        <br><h1 class="text-center" value="Resultado">{{ busline.line_number }}</h1><br>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="row collapse prefix-round">
                <form action="/realizar_post/" method="GET">
                    <div class="panel">
                        <h3 class="left" value="Resultado"> {{ busline.line_number }}</h3>
                        {% if user.is_authenticated %}
                            
                            {% if Favorite.is_favorite %}
                                <span class="right"><a href="/fav/{{busline.line_number}}/" class="fa fa-star fa-3x busineme_orange"></a></span>
                            {% else %}
                                <span class="right"><a href="/fav/{{busline.line_number}}/" class="fa fa-star fa-3x busineme_orange"></a></span>
                            {% endif %}
                        {% endif %}
                        <h3 class="left" value="Resultado">Informações</h3><br><br>
                        <p>Rota: {{ busline.description }}</p>
                        <p>{{ busline.via }}</p>
                        <p>Percurso: {{ busline.route_size }} KM</p>
                        <p>Tarifa: R${{ busline.fee }}</p>
                        {% if user.is_authenticated %}
                            <input type="submit" class="button round" name='Businar' value="Businar!">
                        {% endif %}
                        <input type="hidden" name="line_number" value="{{busline.line_number}}">
                        <input type="hidden" name="busline_id" value="{{busline.id}}">
                    </div>
                </form>
                <div class="panel">
                    <h3 class="left" value="Feed"> Businadas</h3><br><br>
                    {% if posts %}
                        {% for post in posts %}
                            <div href="#" data-reveal-id="modalPostDetails{{ post.id }}" class="panel">
                                <h3> <a href"#" name="post-details"
                                class="left" value="@{{ post.user.username }}" >@{{ post.user.username }}  </a></h3><br>
                                <p>
                                    <h4>Trânsito:</h4>
                                    <p class="left">Livre</p>
                                    <p class="right">Parado</p>
                                    <br>
                                    <div class="progress large-12 success round"> <span class="meter" style="width: {% widthratio post.traffic 1 20 %}%"></span> </div>
                                    <h4>Lotação:</h4>
                                    <p class="left">Vazio</p>
                                    <p class="right">Lotado</p>
                                    <br>
                                    <div class="progress large-12 success round"> <span class="meter" style="width: {% widthratio post.capacity 1 20 %}%"></span> </div>
                                    <small class="right">{{ post.time }}</small>
                                </p>
                            </div>
                            
                            <div id="modalPostDetails{{ post.id }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                                <h1 id="modalTitle">@{{ post.user.username }}</h1>
                                <h3>Trânsito:</h3>
                                <p class="left">Livre</p>
                                <p class="right">Parado</p>
                                <br>
                                <div class="progress large-12 success round"> <span class="meter" style="width: {% widthratio post.traffic 1 20 %}%"></span> </div>
                                <h3>Lotação:</h3>
                                <p class="left">Vazio</p>
                                <p class="right">Lotado</p>
                                <br>
                                <div class="progress large-12 success round"> <span class="meter" style="width: {% widthratio post.capacity 1 20 %}%"></span> </div>
                                <h3>Comentário</h3>
                                {% if post.comment %}
                                    <p class="left">{{ post.comment }}</p>
                                {% else %}
                                    <p class="left">Sem comentário. :(</p><br>
                                {% endif %}
                                <center> <div class="flex-video" style="width:290px;height:200px;">
                                    <div id="map_canvas" style="width:290px;height:200px;"></div>
                                </div></center>
                                <div>{{post.latitude}}</div>
                                <p class="right">{{ post.time }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Não existem Businadas para essa linha. :(<p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block "scripts" %}
            <script>
            $('#modal-post-details').foundation('reveal', 'open');
            </script>
            <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwmUpp3KwXz_wY2EDYzjzgTFtHNOOVOzM" >
            </script>
            
            <script type="text/javascript">
            $(document).ready(function initialize() {
            var myLatlng = new google.maps.LatLng({{post.latitude}},{{post.longitude}});
            var mapOptions = {
            center: myLatlng,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            google.maps.event.addDomListener(window, 'load', initialize);
            var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Ultima postagem'
            });
            marker.setMap(map);
            google.maps.event.addDomListener(window, 'load', initialize);
            google.maps.event.addDomListener(window, "resize", function() {
            var center = myLatlng;
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
            });
            })
            
            </script>
        {% endblock %}
        {% block "modal_error_lead" %} {{error_lead}}{% endblock %}
        {% block "modal_error_message" %} {{modal_message}} {% endblock %}
        {% block "modal_alert_title" %} {{alert_title}} {% endblock %}