{% extends 'base.html' %}
{% block title %}
	Busine.me | Alterar Senha
{% endblock %}

{% block content %}
	<div class="small-10 medium-4 large-4 small-centered columns">
		<br><h1 class="text-center">Alterar Senha</h1><br>
		<form action="/alterar_senha/" method="POST">
		{% csrf_token %}
		 	<span class="label big radius">Senha atual</span>
		 	<input class="radius" type="password" name="old_password" placeholder="Senha Atual" required>
			<span class="label big radius">Nova senha</span>
			<input class="radius" type="password" name="new_password1" placeholder="Nova Senha" required>
			<span class="label big radius">Repita nova senha</span>
			<input class="radius" type="password" name="new_password2" placeholder="Nova Senha"required>
		    <div class="small-6 medium-6 large-6 columns">
		        <input type="submit" value="Salvar Alterações" class="success button expand round">
		    </div>
		    <div class="small-6 medium-6 large-6 columns">
                <a href="/perfil/" class="button expand round alert">Cancelar</a>
        	</div>
		</form>
	</div>


 {% endblock %}
{% block "scripts" %}
{% if error_lead %}
<script>
    $('#modal_error').foundation('reveal', 'open');
</script>
{% endif %}
{% endblock %}

{% block "modal_error_lead" %} {{error_lead}}{% endblock %}
{% block "modal_error_message" %} {{modal_message}} {% endblock %} 
{% block "modal_alert_title" %} {{alert_title}} {% endblock %} 