{% extends 'base.html' %}
{% block title %}
	Busine.me | Alterar Senha
{% endblock %}

{% block content %}
	<div class="small-10 medium-4 large-4 small-centered columns">
		<form action="/alterar_senha/" method="POST">
		{% csrf_token %}
		 	<span class="label big">Senha atual</span>
		 	<input type="password" name="old_password" placeholder="Senha Atual" required>
			<span class="label big">Nova senha</span>
			<input type="password" name="new_password1" placeholder="Nova Senha" required>
			<span class="label big">Repita nova senha</span>
			<input type="password" name="new_password2" placeholder="Nova Senha"required>
		    <div class="small-6 medium-6 large-6 columns">
		        <input type="submit" value="Salvar Alterações" class="success button postfix">
		    </div>
		    <div class="small-6 medium-6 large-6 columns">
                <a href="/perfil/" class="button postfix alert">Cancelar</a>
        	</div>
		</form>
	</div>


 {% endblock %}