{% extends 'base.html' %}
{% block title %}
    Busine.me | Feed
{% endblock %}
{% block content %}

 <div class="row">
    <div class="small-12 large-12 columns">
        <div class="row collapse prefix-round">
        {% if posts %}


            {% for post in posts %}
                <form>
                    <div class="panel">
                      <h3 class="left" value="@{{ post.user.username }}" >@{{ post.user.username }} </h3><br>
                        <p>
                        <h4>{{ post.comment }} alo
                            {{ post.busline.line_number}}
                            {{ post.user.username }}
                        </h4>
                         <small class="right">{{ post.time }}</small>
                        </p>
                    </div>
                </form>
            {% endfor %}
            {% else %}
                 <h3>Teste de existencia. 0 posts at all (preencha o banco de dados para testar)</h3>
            {% endif %}

        </div>
    </div>
</div>







{% endblock %}

{% block "scripts" %}
    {% if error_lead %}
        <script>
            $('#modal_error').foundation('reveal', 'open');
        </script>
    {% endif %}

{% endblock %}




{% block "modal_error_lead" %} {{error_lead}}{% endblock %}
{% block "modal_error_message" %} {{modal_message}} {% endblock %} 
{% block "modal_alert_title" %} {{alert_title}} {% endblock %}