{% extends 'base-logged.html' %}
{% block title %}
	Busine.me | Feed
{% endblock %}
{% block content %}
	<div class="row show-for-medium-up">
		<h1 class="text-center">Busine.me</h1>
	</div>
	<div class="small-11 medium-8 large-6 small-centered row">
		<div class="large-6 columns">
			<div class="row collapse prefix-round">
				<!-- <div class="small-9 columns">
					<input class="postfix-round" type="text" placeholder="Value">
				</div>
				<div class="small-3 columns">
					<a href="#" class="button round postfix">Go</a>
				</div> -->
			</div>
		</div>
	</div>
{% endblock %}