{% extends 'base.html' %}
{% block title %}
    Busine.me | Resultados
{% endblock %}
{% block content %}

<div>
    <h1 class= "text-center" value="titulo_h1">Realize uma Businada!</h1>
</div>

<div class="row">
    

        <div class="panel small-10 medium-4 large-4 small-centered columns">
            <form action="/save_post/" method="GET">
                <a href="" title="Clique aqui para ver todos os posts sobre a linha"><h2>{{line_number}}</h2></a>
                <br>
                
                <h2>Transito</h2>
                <div class="range-slider round" data-slider data-options="start: 1; 
                                            end: 5; display_selector: #numero_transito; ">
                    <span class="range-slider-handle" role="slider" tabindex="0"></span> 
                    <span class="range-slider-active-segment"></span>  
                    <label class="row right">
                     <span id="numero_transito"></span>
                    </label>
                    <input type="hidden" value='numero_transito' name='traffic'>
                </div>
                

                <h2>Lotação</h2>
                <div class="range-slider round" data-slider data-options="start: 1;
                                             end: 5; display_selector: #numero_lotacao; ">
                    <span class="range-slider-handle" role="slider" tabindex="0"></span> 
                    <span class="range-slider-active-segment"></span>  
                    <label class="row right">
                         <span id="numero_lotacao"></span>
                    </label>
                    <input type="hidden" value="numero_lotacao" name='capacity'>
                </div>

                <label>
                    <textarea name="description" placeholder="Conte-nos sobre sua viagem" cols="10" rows="10"></textarea>
                    <a href="" class="button">Businar!</a>
                </label>
                <input type="hidden" name="line_number" value="{{line_number}}">
                <input type="submit" class="default button expand" name='Businar' value='Businar!'>
            </form>
        </div>


</div>




















{% endblock %}
{% block "scripts" %}
{% if error_lead %}
    <script>
        $('#modal_error').foundation('reveal', 'open');
    </script>
{% endif %}
{% endblock %}

{% block "modal_error_lead" %} {{error_lead}}{% endblock %}
{% block "modal_error_message" %} {{error_message}} {% endblock %} 
{% block "modal_alert_title" %} {{alert_title}} {% endblock %} 