{% extends 'base.html' %}
{% block title %}
    Busine.me | Register
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-6 large-6 small-centered columns">
            {% load staticfiles %}
            <img class="login-logo" src="{% static 'images/busineme-logo.png' %}" alt="Logo">
        </div>
    </div>
    <div class="row">
        <div class="small-10 medium-4 large-4 small-centered columns">
            <form action="/cadastrar/usuario/" method="POST">{% csrf_token %}
                <input type="text" class="radius" name="name" placeholder="Nome" required>
                <input type="text" class="radius" name="email" placeholder="Email" required>
                <input type="text" class="radius" name="username" placeholder="Nome de Usuario" required>
                <input type="password" class="radius" name="password" placeholder="Senha" required>
                <button class="round postfix">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block "scripts" %}
{% if error_lead %}
<script>
    $('#modal_error').foundation('reveal', 'open');
</script>
{% endif %}
{% endblock %}

{% block "modal_error_lead" %} {{error_lead}}{% endblock %}
{% block "modal_error_message" %} {{modal_message}} {% endblock %} 
{% block "modal_alert_title" %} {{alert_title}} {% endblock %} 

<!-- <h1>Cadastrar Usuário</h1>

<form action="/cadastrar/usuario/" method="GET">
    <input type="text" name="name" placeholder="Nome">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="username" placeholder="Nome de Usuario">
    <input type="password" name="password" placeholder="Senha">

    <button>Enviar</button>
</form> -->