<div class="sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Busine.me</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Volante</span></a></li>
        </ul>
        <section class="top-bar-section">
	        <ul class="left">
	        	
	            <li><a href="#">Feed</a></li>
	            <li><a href="#">Busine</a></li>
	            <li><a href="#">Favoritos</a></li>
	            <li class="has-dropdown">
	                <a href="#">Configurações</a>
	                <ul class="dropdown">
	                    <li><a href="#">Conta</a></li>
	                    <li><a href="#">App</a></li>
	                    <li><a href="#">Cadastro</a></li>
	                    <li><a href="/perfil/sair/">Sair</a></li>
                	</ul>
            	</li>

			</ul>
			<ul class="right">
				<li class="has-form">
				  <div class="row collapse">
				    <div class="large-8 small-9 medium-6 columns">
				      <input type="text" placeholder="Find Stuff">
				    </div>
				    <div class="large-4 small-3 medium-6 columns">
				      <a href="#" class="success button expand">Search</a>
				    </div>
				  </div>
			 	</li>
			</ul>
			<!---->
        </section>	
    </nav>
</div>