.login-logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(15);
    display: block;
}

.feed-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;

    .large {
    	width: 50%;
    }

    .small {
    	width: 30%;
    }

}