# -*- coding: utf-8 -*-

# Security configurations

SECRET_KEY = 'secret_key'
LOGIN_URL = '/login/'
DEBUG = True
TEMPLATE_DEBUG = True
ALLOWED_HOSTS = ['localhost', '127.0.0.1']
TWITTER_CONSUMER_KEY = 'TWITTER CONSUMER KEY'
TWITTER_CONSUMER_SECRET = 'TWITTER CONSUMER SECRET'
TWITTER_ACCESS_TOKEN_KEY = 'TWITTER ACCESS TOKEN KEY'
TWITTER_ACCESS_TOKEN_SECRET = 'TWITTER ACCESS TOKEN SECRET'
